body{
	background: #4183c4;
}

#headernav{
	opacity: .9;
}

#headernav h1{
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 24px;
	line-height: 64px;
}

#headernav img{
	margin-right: 15px;
	width: 40px;
}

#headernav i{
	margin-right: 10px;
	color: #ff7c30;
	font-size: 40px;
	position: relative;
	top: 5px;	
}

#headernav .top-bar-section a{
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 14px;
}

/* Header */

#header{
	background: #333;
	background: url(../img/wallpaper1.jpg) no-repeat center bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	overflow: hidden;
	position: relative;
	z-index: 1;
	min-height: 400px;
	padding: 20px 0;
}

/*
#header_bg{
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjIyMjIiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(34,34,34,1) 0%, rgba(34,34,34,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,34,34,1)), color-stop(100%,rgba(34,34,34,0)));
background: -webkit-linear-gradient(top, rgba(34,34,34,1) 0%,rgba(34,34,34,0) 100%);
background: -o-linear-gradient(top, rgba(34,34,34,1) 0%,rgba(34,34,34,0) 100%);
background: -ms-linear-gradient(top, rgba(34,34,34,1) 0%,rgba(34,34,34,0) 100%);
background: linear-gradient(to bottom, rgba(34,34,34,1) 0%,rgba(34,34,34,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#00222222',GradientType=0 );
}
*/

#header h1{
 	margin: 0;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 0 #ccc,
    	2px 2px 0 #999,
    	3px 3px 0 #555;
	font-weight: bold;
	padding: 10px 0;
}

#headslider{

}

#headslider div{
	max-height: 300px;
	text-align: center;
}

#headslider img{
	display: initial;
	max-width: 256px;
}

#headslider .slide2 img,
#headslider .slide2 img,
#headslider .slide3 img{
	width: 100%;
	max-width: 256px;
}

#headslider .slide1,
#headslider .slide2,
#headslider .slide3{
	height: 300px;
	display: block;
	line-height: 300px;
}

ul.slick-dots{
	margin: 0;
	padding: 0;
}

#headerbg{
	width: 100%;
	position: fixed;
	height: 100%;
	z-index: -1;
}

/* Top */

#top{
	background: #ff7c30;
	padding: 20px;
	color: #fff;
}

#top h3, #top h4{
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
}

#top h3{
	font-weight: bold;
}

.hi-icon-wrap p{
	font-weight: bold;
}

.hi-icon-wrap h5{
	margin-top: 10px;
	color: #fff;
}

/* Main */

#main{
	background: #fff;
	text-align: center;
}